.hero {
  &__image {
    background-image: url("../../img/backgrounds/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
  }

  &__text {
    padding: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1, p{
      color: $white;
    }

    @include breakpoint-down(small){
      padding: 40px;
    }

    @include breakpoint-down(medium){
      padding: 30px;
    }

  }
}
