// Font Sizes
$font-sm: 1rem; //14px
$font-med: 1.125rem; //18px

// Colores
$dark: #1d1d1b;
$white: #ffff;
$text-dark: #0D1B2A;
$oxford-blue: #1B263B;
$main-button-color: #415A77;
$secondary-button-color: #778DA9;